body {
    background-color: var(--bg-dark);
    color: var(--text-dark);
    transition: all 0.3s;
  }
  :root {
    --bg-dark: #97c2dd !important;
    --text-dark: #444 !important;
  }
  
 
  /* dark style */
  .dark-theme {
    --bg-dark: #7e7878 !important;
    --text-dark: #eee !important;
  }



.mymenu{
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2)!important;
color: rgb(233, 165, 165);
padding: 10px;
font-size: 15px;
font-family: 'Courier New', Courier, monospace;
transition: background-color 0.3s ease;

}



.mymenu li{
list-style: none;
display: inline-block;
margin-right: 10px;
transition: background-color 0.3s ease;
}
.mymenu li:last-child{
    margin-right: 0;

}




.mymenu li:hover{
    background-color: #6d3333;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 5px grey;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    padding: 2px;
    
}



.mymenu a{
color: rgb(15, 15, 15);
text-decoration: none;
padding: 5px;
}

.my-btn{
    color: rgb(15, 15, 15);
   
    border-radius: 5px;
    border: none;
    padding:5px;
    font-size: 15px !important;
}
.my-input{
    border-radius: 5px;
    border: none;
    padding:15px;
    font-size: 15px !important;
    animation-name: ras;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ras{
    0%{box-shadow: 0 0 10px rgba(247, 241, 241, 0.541);}
    50%{box-shadow: 0 0 20px rgba(165, 233, 196, 0.527);}
    100%{box-shadow: 0 0 10px rgba(231, 142, 9, 0.404);}
}
.baba{
    animation-name: lala;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
